---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blogs | Sree Surya">
  <h1>Blogs & Articles</h1>

  <p>I publish long-form security content on:</p>

  <ul>
    <li>
      <a href="https://hashnode.com/@nagasesank" target="_blank">
        Hashnode – Cloud & Security Engineering
      </a>
    </li>
    <li>
      <a href="https://sesanknagamunukutla.medium.com" target="_blank">
        Medium – Security, SOC & Architecture
      </a>
    </li>
  </ul>
</BaseLayout>
