---
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<BaseLayout title="Contact | Sree Surya">
  <h1>Contact</h1>
  <p>Best way to reach me:</p>
  <SocialLinks />
</BaseLayout>
