---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects | Sree Surya">
  <h1>Projects</h1>

  <ul>
    <li>Multi-Account Zero Trust Architecture (AWS Organizations & SCPs)</li>
    <li>Just-In-Time Access for EC2 (IAM + Lambda automation)</li>
    <li>Automated Detection & Response (SOAR)</li>
    <li>Cloud Threat Detection using SIEM pipelines</li>
    <li>Healthcare Data Security & Compliance Controls</li>
  </ul>
</BaseLayout>
