<header class="site-header">
  <div class="header-inner">
    <!-- LEFT: Brand -->
    <div class="brand">
      <a href="/" class="brand-name">
        Sree Surya Naga Sesank&nbsp;M
      </a>
    </div>

    <!-- CENTER: Nav -->
    <nav class="nav-links">
      <a href="/#skills">Skills</a>
      <a href="/#experience">Experience</a>
      <a href="/#projects">Projects</a>
      <a href="/blogs">Blogs</a>
      <a href="/#contact">Contact</a>
    </nav>

  </div>
</header>
