<div style="display:flex;gap:1.2rem;">
  <a href="https://github.com/nagasesank" target="_blank">GitHub</a>
  <a href="https://www.linkedin.com/in/suryasesank" target="_blank">LinkedIn</a>
  <a href="https://hashnode.com/@nagasesank" target="_blank">Hashnode</a>
  <a href="https://sesanknagamunukutla.medium.com" target="_blank">Medium</a>
</div>
